// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.

$header-back-color :  navy;
$header-fore-color  : #E0E0E0;

body {
  font-family: Georgia, sans-serif;
  font-size: 13px;
}

.contents {
  display: inline-block;
  min-width: 500px;

  .ui-accordion-header {
    color: $header-fore-color;
    background-color: lighten($header-back-color,50%);
    .ui-accordion-header-icon {
      color: $header-fore-color;
    }
  }

  .header-wrapper {
    background-color: lighten($header-back-color,10%);
    color: $header-fore-color;
    min-height: 45px;

    position: relative;
    h2 {
      margin-left: 5px;
      display: inline-block;
    }
    .main-menu {
      span.user {
        margin-right: 15px;
      }
      display: inline-block;
      position: absolute;
      top:   20px;
      right: 5px;
      a {
        margin: 0 5px;
        color: $header-fore-color;
      }
    }
  }

  embed {
    display: block;
    width: 340px;
    height: 300px;
    margin-top: 10px;
  }


  a {
    &.opera {
      margin: 0 5px;
    }
    &.cancel_btn {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      color: #C0C0C0;
      background-color: #AA0000;
      font-family: Arial, sans-serif;
      text-decoration: none;
      padding: 2px;
      margin: 10px 5px;
      &:hover {
        cursor: default;
        border: 1px solid black;
      }
    }
  }

  .flash {

    .alert {
      background-color: pink;
      padding: 5px;
    }

    .notice {
      background-color: lightgreen;
      padding: 5px;
    }
  }

  .entry {
    padding: 10px 5px;

    label {
      vertical-align: middle;
      display: inline-block;
      width: 90px;
      overflow-x: hidden;
      font-weight: bold;
    }

    .field_with_errors {
      display: inline-block;
      width: auto;
    }

    .errors {
      margin-left: 90px;
      padding-left: 5px;
      color: red;
      font-size: 12px;
      font-style: italic;
    }

    input[type="text"]#upload_description {
      width: 240px;

    }
  }

  table {
    tr {
      color: black;
      background-color: wheat;
      th {
        color: white;
        background-color: lighten($header-back-color,50%);
        padding: 2px 5px;
        a {
          color: white;
        }
      }
      td {
        padding: 2px 5px;
      }
    }

    &.name-value {
      width: 342px;
      border: 2px solid black;
      tr {
        td {
          &:nth-of-type(1) {
            font-weight: bold;
            font-size: 13px;
            color: #040404;
          }

          &:nth-of-type(2) {
          }
        }
      }
    }
  }

  img.attachment {
    border: 2px solid black;
    display: block;
    margin-top: 10px;
  }
}