// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.

body {
  font-family: Georgia, sans-serif;
  font-size: 13px;
}

.contents {
  display: inline-block;


  a {
    &.opera {
      margin: 0 5px;
    }
    &.cancel_btn {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      color: #C0C0C0;
      background-color: #AA0000;
      font-family: Arial, sans-serif;
      text-decoration: none;
      padding: 2px;
      margin: 10px 5px;
      &:hover {
        cursor: default;
        border: 1px solid black;
      }
    }
  }

  .flash {

    .alert {
      background-color: pink;
      padding: 5px;
    }

    .notice {
      background-color: lightgreen;
      padding: 5px;
    }
  }

  .entry {
    padding: 10px 5px;

    label {
      vertical-align: middle;
      display: inline-block;
      width: 90px;
      overflow-x: hidden;
      font-weight: bold;
    }

    .field_with_errors {
      display: inline-block;
      width: auto;
    }

    .errors {
      margin-left: 90px;
      padding-left: 5px;
      color: red;
      font-size: 12px;
      font-style: italic;
    }
  }

  table {
    tr {
      color: black;
      background-color: wheat;
      th {
        background-color: lightgray;
        padding: 2px 5px;
      }
      td {
        padding: 2px 5px;
      }
    }

    &.name-value {
      tr {
        td {
          &:nth-of-type(1) {
            font-weight: bold;
            font-size: 13px;
            color: #040404;
          }

          &:nth-of-type(2) {
          }
        }
      }
    }
  }

  img.attachment {
    display: block;
    margin: 10px auto;
    //width: 300px;
  }
}