%h3 Edit Upload

-# Pass to JS the tab number (0-based) to open
= hidden_field_tag :accordion_tab_number, flash.now[:accordion_tab_number] || "0"

-#Pass the upload ID to JS (to generate AJAX autocoplete path)
= hidden_field_tag :upload_id, params[:id]


#accordion
  %h3 Image and Description
  #upload_form_container
    = render partial: 'upload_form'
  %h3 Access by Other Users
  #grants-form-container
    = render partial: 'grants/grants_form'




